<h1 class="titleage text-center">PORTFOLIO WORKS</h1>

<div class="wrapper carousel">


  <section id="section1">
    <a href="#section3" class="arrow__btn">‹</a>


    <div class="item">
      <div class="cardwrapper cardbody">
        <div class="card">
            <input type="checkbox" id="card1" class="more">
            <div class="content">
                <div class="front" style="background-image: url('static/assets/img/products-01.jpg')">
                    <div class="inner">
                        <h2>Project1</h2>
                        <label for="card1" class="button" aria-hidden="true">
                            Details
                        </label>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <h2 class="location">PROJECT 1</h2>
                        <div class="description">
                            <p>This is where I describe the nature of the work, some of my thinking that went into it,
                            and what it taught me. Perhaps I descuss some practical applications for it.</p>
                            <p>Quam, iusto.Neque ratione ut deserunt unde dicta nesciunt,
                                repudiandae
                                aspernatur explicabo numquam! Tenetur!</p>
                        </div>

                        <label for="card1" class="button return" aria-hidden="true">
                            <i class="fas fa-arrow-left"></i>
                        </label>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="cardwrapper cardbody">
        <div class="card">
            <input type="checkbox" id="card2" class="more">
            <div class="content">
                <div class="front" style="background-image: url('static/assets/img/products-01.jpg')">
                    <div class="inner">
                        <h2>Project2</h2>
                        <label for="card2" class="button" aria-hidden="true">
                            Details
                        </label>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <h2 class="location">PROJECT 2</h2>
                        <div class="description">
                            <p>This is where I describe the nature of the work, some of my thinking that went into it,
                            and what it taught me. Perhaps I descuss some practical applications for it.</p>
                            <p>Quam, iusto.Neque ratione ut deserunt unde dicta nesciunt,
                                repudiandae
                                aspernatur explicabo numquam! Tenetur!</p>
                        </div>

                        <label for="card2" class="button return" aria-hidden="true">
                            <i class="fas fa-arrow-left"></i>
                        </label>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="cardwrapper cardbody">
        <div class="card">
            <input type="checkbox" id="card3" class="more">
            <div class="content">
                <div class="front" style="background-image: url('static/assets/img/products-01.jpg')">
                    <div class="inner">
                        <h2>Project3</h2>
                        <label for="card3" class="button" aria-hidden="true">
                            Details
                        </label>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <h2 class="location">PROJECT 3</h2>
                        <div class="description">
                            <p>This is where I describe the nature of the work, some of my thinking that went into it,
                            and what it taught me. Perhaps I descuss some practical applications for it.</p>
                            <p>Quam, iusto.Neque ratione ut deserunt unde dicta nesciunt,
                                repudiandae
                                aspernatur explicabo numquam! Tenetur!</p>
                        </div>

                        <label for="card3" class="button return" aria-hidden="true">
                            <i class="fas fa-arrow-left"></i>
                        </label>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>


<a href="#section2" class="arrow__btn">›</a>




    <a href="#section1" class="arrow__btn">‹</a>


    <div class="item">
      <div class="cardwrapper cardbody">
        <div class="card">
            <input type="checkbox" id="card4" class="more">
            <div class="content">
                <div class="front" style="background-image: url('static/assets/img/products-01.jpg')">
                    <div class="inner">
                        <h2>Project4</h2>
                        <label for="card4" class="button" aria-hidden="true">
                            Details
                        </label>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <h2 class="location">PROJECT 4</h2>
                        <div class="description">
                            <p>This is where I describe the nature of the work, some of my thinking that went into it,
                            and what it taught me. Perhaps I descuss some practical applications for it.</p>
                            <p>Quam, iusto.Neque ratione ut deserunt unde dicta nesciunt,
                                repudiandae
                                aspernatur explicabo numquam! Tenetur!</p>
                        </div>

                        <label for="card4" class="button return" aria-hidden="true">
                            <i class="fas fa-arrow-left"></i>
                        </label>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>





        <div class="item">
      <div class="cardwrapper cardbody">
        <div class="card">
            <input type="checkbox" id="card5" class="more">
            <div class="content">
                <div class="front" style="background-image: url('static/assets/img/products-01.jpg')">
                    <div class="inner">
                        <h2>Project5</h2>
                        <label for="card5" class="button" aria-hidden="true">
                            Details
                        </label>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <h2 class="location">PROJECT 5</h2>
                        <div class="description">
                            <p>This is where I describe the nature of the work, some of my thinking that went into it,
                            and what it taught me. Perhaps I descuss some practical applications for it.</p>
                            <p>Quam, iusto.Neque ratione ut deserunt unde dicta nesciunt,
                                repudiandae
                                aspernatur explicabo numquam! Tenetur!</p>
                        </div>

                        <label for="card5" class="button return" aria-hidden="true">
                            <i class="fas fa-arrow-left"></i>
                        </label>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="cardwrapper cardbody">
        <div class="card">
            <input type="checkbox" id="card6" class="more">
            <div class="content">
                <div class="front" style="background-image: url('static/assets/img/products-01.jpg')">
                    <div class="inner">
                        <h2>Project6</h2>
                        <label for="card6" class="button" aria-hidden="true">
                            Details
                        </label>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <h2 class="location">PROJECT 6</h2>
                        <div class="description">
                            <p>This is where I describe the nature of the work, some of my thinking that went into it,
                            and what it taught me. Perhaps I descuss some practical applications for it.</p>
                            <p>Quam, iusto.Neque ratione ut deserunt unde dicta nesciunt,
                                repudiandae
                                aspernatur explicabo numquam! Tenetur!</p>
                        </div>

                        <label for="card6" class="button return" aria-hidden="true">
                            <i class="fas fa-arrow-left"></i>
                        </label>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>

    <a href="#section3" class="arrow__btn">›</a>



    <a href="#section2" class="arrow__btn">‹</a>
        <div class="item">
      <div class="cardwrapper cardbody">
        <div class="card">
            <input type="checkbox" id="card7" class="more">
            <div class="content">
                <div class="front" style="background-image: url('static/assets/img/products-01.jpg')">
                    <div class="inner">
                        <h2>Project7</h2>
                        <label for="card3" class="button" aria-hidden="true">
                            Details
                        </label>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <h2 class="location">PROJECT 7</h2>
                        <div class="description">
                            <p>This is where I describe the nature of the work, some of my thinking that went into it,
                            and what it taught me. Perhaps I descuss some practical applications for it.</p>
                            <p>Quam, iusto.Neque ratione ut deserunt unde dicta nesciunt,
                                repudiandae
                                aspernatur explicabo numquam! Tenetur!</p>
                        </div>

                        <label for="card7" class="button return" aria-hidden="true">
                            <i class="fas fa-arrow-left"></i>
                        </label>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>


    <div class="item">
      <div class="cardwrapper cardbody">
        <div class="card">
            <input type="checkbox" id="card8" class="more">
            <div class="content">
                <div class="front" style="background-image: url('static/assets/img/products-01.jpg')">
                    <div class="inner">
                        <h2>Project8</h2>
                        <label for="card8" class="button" aria-hidden="true">
                            Details
                        </label>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <h2 class="location">PROJECT 8</h2>
                        <div class="description">
                            <p>This is where I describe the nature of the work, some of my thinking that went into it,
                            and what it taught me. Perhaps I descuss some practical applications for it.</p>
                            <p>Quam, iusto.Neque ratione ut deserunt unde dicta nesciunt,
                                repudiandae
                                aspernatur explicabo numquam! Tenetur!</p>
                        </div>

                        <label for="card4" class="button return" aria-hidden="true">
                            <i class="fas fa-arrow-left"></i>
                        </label>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>


    <div class="item">
      <div class="cardwrapper cardbody">
        <div class="card">
            <input type="checkbox" id="card9" class="more">
            <div class="content">
                <div class="front" style="background-image: url('static/assets/img/products-01.jpg')">
                    <div class="inner">
                        <h2>Project9</h2>
                        <label for="card9" class="button" aria-hidden="true">
                            Details
                        </label>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <h2 class="location">PROJECT 9</h2>
                        <div class="description">
                            <p>This is where I describe the nature of the work, some of my thinking that went into it,
                            and what it taught me. Perhaps I descuss some practical applications for it.</p>
                            <p>Quam, iusto.Neque ratione ut deserunt unde dicta nesciunt,
                                repudiandae
                                aspernatur explicabo numquam! Tenetur!</p>
                        </div>

                        <label for="card9" class="button return" aria-hidden="true">
                            <i class="fas fa-arrow-left"></i>
                        </label>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>

    <a href="#section1" class="arrow__btn">›</a>
  </section>
</div>